![Astrofisica Computacional](../logo.png)

---
## 03. Astroquery


Eduard Larrañaga (ealarranaga@unal.edu.co)

---


### About this notebook

In this worksheet we will present some basic examples of the use of `Astroquery`. 

---

### Example 01

We use `Astroquery` to query [Vizier](http://vizier.cfa.harvard.edu) about a specific keyword, and we will use of [astropy.coordinates](https://docs.astropy.org/en/stable/coordinates/index.html) to restrict the results. 

Vizier’s keywords can indicate features such as wavelength or object type. However, we will use only the object type now,

In [8]:
from astroquery.vizier import Vizier
from astropy import coordinates
from astropy import units as u

v = Vizier(keywords=['stars:white_dwarf']) # Defining the class of the objects
v

In [9]:

# Define a reference point in the sky using coordinates
c = coordinates.SkyCoord(0, 0, unit=('deg', 'deg'), frame='icrs')

# Restrict the query to thos objects of the desired object in a certain region
# around our reference point
result = v.query_region(c, radius=2*u.deg)

# Number of datasets in the restricted query
len(result)

64

In [31]:
# The complete query includes these tables
# Note the bib-reference of each table
result

TableList with 64 tables:
	'0:III/70/catalog' with 14 column(s) and 3 row(s)
	'1:B/wd/catalog' with 14 column(s) and 39 row(s)
	'2:J/ApJ/607/426/stars' with 13 column(s) and 16 row(s)
	'3:J/ApJ/663/1291/table2' with 15 column(s) and 1 row(s)
	'4:J/ApJ/730/128/table1' with 16 column(s) and 11 row(s)
	'5:J/ApJ/731/17/var' with 18 column(s) and 5 row(s)
	'6:J/ApJ/765/12/table1' with 23 column(s) and 2 row(s)
	'7:J/ApJ/882/106/table1' with 16 column(s) and 7 row(s)
	'8:J/ApJ/885/74/table1' with 9 column(s) and 2 row(s)
	'9:J/ApJ/898/84/table1' with 17 column(s) and 2 row(s)
	'10:J/ApJ/901/93/table1' with 23 column(s) and 2 row(s)
	'11:J/ApJS/167/40/catalog' with 12 column(s) and 33 row(s)
	'12:J/ApJS/167/40/table5' with 9 column(s) and 1 row(s)
	'13:J/ApJS/190/77/table1' with 18 column(s) and 1 row(s)
	'14:J/ApJS/204/5/table2' with 21 column(s) and 35 row(s)
	'15:J/ApJS/215/24/table4' with 18 column(s) and 14 row(s)
	'16:J/ApJS/215/24/table5' with 20 column(s) and 1 row(s)
	'17:J/ApJS/235/16/targets' with 14 column(s) and 50 row(s)
	'18:J/A+A/419/L5/table1' with 14 column(s) and 7 row(s)
	'19:J/A+A/466/627/table2' with 11 column(s) and 7 row(s)
	'20:J/A+A/496/191/table3' with 11 column(s) and 1 row(s)
	'21:J/A+A/536/A43/table4s' with 13 column(s) and 3 row(s)
	'22:J/A+A/583/A86/table1' with 16 column(s) and 3 row(s)
	'23:J/A+A/658/A22/table2' with 13 column(s) and 1 row(s)
	'24:J/A+A/658/A79/wdpda' with 26 column(s) and 19 row(s)
	'25:J/AJ/131/582/table1' with 15 column(s) and 2 row(s)
	'26:J/AJ/134/741/table1' with 10 column(s) and 2 row(s)
	'27:J/AJ/144/93/table' with 21 column(s) and 5 row(s)
	'28:J/PASP/130/H4203/table6' with 22 column(s) and 8 row(s)
	'29:J/MNRAS/382/515/WD' with 18 column(s) and 2 row(s)
	'30:J/MNRAS/382/1377/table2' with 11 column(s) and 2 row(s)
	'31:J/MNRAS/399/699/haloWD' with 16 column(s) and 2 row(s)
	'32:J/MNRAS/399/699/table4' with 8 column(s) and 1 row(s)
	'33:J/MNRAS/402/620/table5' with 15 column(s) and 6 row(s)
	'34:J/MNRAS/402/620/updates' with 5 column(s) and 1 row(s)
	'35:J/MNRAS/402/620/table7' with 17 column(s) and 9 row(s)
	'36:J/MNRAS/402/620/table9' with 10 column(s) and 4 row(s)
	'37:J/MNRAS/411/2770/gr5-ais' with 16 column(s) and 30 row(s)
	'38:J/MNRAS/411/2770/gr5-mis' with 16 column(s) and 37 row(s)
	'39:J/MNRAS/413/1581/table4' with 20 column(s) and 3 row(s)
	'40:J/MNRAS/417/1210/spec' with 21 column(s) and 19 row(s)
	'41:J/MNRAS/417/1210/phot' with 18 column(s) and 20 row(s)
	'42:J/MNRAS/429/2143/tablea1' with 15 column(s) and 3 row(s)
	'43:J/MNRAS/433/3398/table2' with 19 column(s) and 9 row(s)
	'44:J/MNRAS/433/3398/rejected' with 8 column(s) and 1 row(s)
	'45:J/MNRAS/445/1331/catalog' with 24 column(s) and 1 row(s)
	'46:J/MNRAS/446/4078/table6' with 19 column(s) and 8 row(s)
	'47:J/MNRAS/448/2260/catalog' with 20 column(s) and 50 row(s)
	'48:J/MNRAS/448/2260/spectra' with 11 column(s) and 50 row(s)
	'49:J/MNRAS/452/765/catalog' with 17 column(s) and 1 row(s)
	'50:J/MNRAS/455/3413/table6' with 21 column(s) and 1 row(s)
	'51:J/MNRAS/458/3808/tables1' with 9 column(s) and 1 row(s)
	'52:J/MNRAS/463/2125/rave' with 11 column(s) and 1 row(s)
	'53:J/MNRAS/469/2102/table1' with 19 column(s) and 24 row(s)
	'54:J/MNRAS/475/2480/table1' with 11 column(s) and 1 row(s)
	'55:J/MNRAS/477/4641/table1' with 12 column(s) and 1 row(s)
	'56:J/MNRAS/480/4505/tablea' with 25 column(s) and 14 row(s)
	'57:J/MNRAS/482/715/tablea1' with 19 column(s) and 13 row(s)
	'58:J/MNRAS/482/4570/gaia2wd' with 26 column(s) and 50 row(s)
	'59:J/MNRAS/482/4570/gaiasdss' with 17 column(s) and 50 row(s)
	'60:J/MNRAS/508/3877/maincat' with 27 column(s) and 50 row(s)
	'61:J/MNRAS/508/3877/sdssspec' with 27 column(s) and 50 row(s)
	'62:J/MNRAS/508/3877/rpm_ext' with 19 column(s) and 16 row(s)
	'63:J/other/Sci/292.698/ohdhs' with 11 column(s) and 7 row(s)

In [32]:
# A dataset (table) in the results is accesed via
result[14]

<Table length=35>
       SDSS         RAJ2000    DEJ2000     SNg   ... WDcat DR7  Sloan Simbad
                      deg        deg             ...
      str18         float64    float64   float32 ... int16 str3  str5  str6
------------------ ---------- ---------- ------- ... ----- ---- ----- ------
000006.75-004654.0   0.028139  -0.781661   12.34 ...     1  DR7 Sloan Simbad
000012.32-005042.6   0.051353  -0.845158    4.56 ...     1  DR7 Sloan Simbad
000022.88-000635.7   0.095315  -0.109913   18.64 ...     2  DR7 Sloan Simbad
000034.07-010820.0   0.141964  -1.138881   21.91 ...     1  DR7 Sloan Simbad
000052.44-002610.5   0.218509  -0.436249   13.17 ...     2  DR7 Sloan Simbad
000104.05+000355.8   0.266894   0.065506   13.61 ...     1  DR7 Sloan Simbad
               ...        ...        ...     ... ...   ...  ...   ...    ...
235653.28+002138.6 359.222010   0.360720    8.45 ...     3  DR7 Sloan Simbad
235653.28+002138.6 359.222010   0.360720    9.10 ...     3  DR7 Sloan Simbad
235841.91-010017.3 359.674630  -1.004795    6.34 ...     1  DR7 Sloan Simbad
235937.32+001932.5 359.905510   0.325692    7.87 ...     1  DR7 Sloan Simbad
235950.69+010740.1 359.961200   1.127802   12.19 ...     1  DR7 Sloan Simbad
235955.42+003910.3 359.980920   0.652864   10.45 ...     0  DR7 Sloan Simbad

---

### Example 02

We will look into [SIMBAD](http://simbad.u-strasbg.fr/simbad/) for a particular object.

In [2]:
from astroquery.simbad import Simbad

result_table = Simbad.query_object("m1")

In [3]:
result_table.pprint(show_unit=True)

MAIN_ID       RA           DEC      ...     COO_BIBCODE     SCRIPT_NUMBER_ID
           "h:m:s"       "d:m:s"    ...
------- ------------- ------------- ... ------------------- ----------------
  M   1 05 34 31.9474 +22 00 52.153 ... 2020yCat.1350....0G                1

---

### Example 03

We will look again into [SIMBAD](http://simbad.u-strasbg.fr/simbad/) for items in a particular range of timer and restric for a particular object.

In [34]:
from astroquery.simbad import Simbad

s = Simbad()
# bibcodelist(date1-date2) lists the number of bibliography
# items referring to each object over that date range
s.add_votable_fields('bibcodelist(2003-2013)')
s

In [36]:
# Restrict for a particular object
result2 = s.query_object('m31')
result2

<Table length=1>
MAIN_ID      RA          DEC      ... BIBLIST_2003_2013 SCRIPT_NUMBER_ID
          "h:m:s"      "d:m:s"    ...
 object    str13        str13     ...       int32            int32
------- ------------ ------------ ... ----------------- ----------------
  M  31 00 42 44.330 +41 16 07.50 ...              4177                1

---

### Example 04 

This illustrates finding the spectral type of some particular star.

In [38]:
from astroquery.simbad import Simbad

customSimbad = Simbad()

# We add the type of the object
customSimbad.add_votable_fields('sptype')

We restric the query to the object [g Her](http://simbad.u-strasbg.fr/simbad/sim-id?Ident=g+Her)

In [40]:
# Restrict to the star 
result = customSimbad.query_object('g her')
result

<Table length=1>
MAIN_ID       RA           DEC      ...      SP_BIBCODE     SCRIPT_NUMBER_ID
           "h:m:s"       "d:m:s"    ...
 object     str13         str13     ...        object            int32
------- ------------- ------------- ... ------------------- ----------------
* g Her 16 28 38.5485 +41 52 54.040 ... 1989ApJS...71..245K                1

In [41]:
# ID of the object
result['MAIN_ID'][0]

'* g Her'

In [42]:
# Spectral Type of the object
result['SP_TYPE'][0]

'M6-III'

### Example 05

We will search into the [open exoplanet catalogue](http://www.openexoplanetcatalogue.com)  to find the mass of a specific planet.

In [44]:
from astroquery import open_exoplanet_catalogue as oec
from astroquery.open_exoplanet_catalogue import findvalue

cata = oec.get_catalogue()

# Specify the exoplanet
kepler68b = cata.find(".//planet[name='Kepler-68 b']")

kepler68b

In [45]:
# The mass of the planet is
findvalue(kepler68b, 'mass')

0.026 +0.008 -0.007

---

## Accesing the SDSS database using a SQL query

We will access the SDSS database through astroquery and permform a SQL call,

In [63]:
from astroquery.sdss import SDSS

#query = "select top 10 z, ra, dec, bestObjID from  specObj where  class = 'galaxy' and z > 0.3  and zWarning = 0"

q1 = "select top 10 z, ra, dec, bestObjID "
q2 = "from  specObj "
q3 = "where  class = 'galaxy' and z > 0.3  and zWarning = 0"

query = q1 + q2 + q3


results = SDSS.query_sql(query)
results

<Table length=10>
    z         ra       dec          bestObjID
 float64   float64   float64          int64
--------- --------- ---------- -------------------
0.3000001 184.86409  52.571314 1237657629529211079
0.3000009 222.98982  42.629408 1237658203986460871
0.3000009 146.39863  5.8334459 1237658423547920434
0.3000012 49.459411   0.847754 1237660241924063461
0.3000018 172.28104  10.234226 1237658493349789816
0.3000027 156.25024  7.6586271 1237658425162858683
0.3000027 231.07321  32.718373 1237662341082382595
0.3000033 197.37712  10.524518 1237662238545478566
0.3000035 184.90501 -3.3095095 1237650760782053596
0.3000037 242.52563  6.0693494 1237662198290186255

---

## SQL query in the SDSS database and crossmatch with other catalogues

We make a SQL query to the SDSS and use `XMatch` to cross match with other catalogues, e.g. with WISE

In [1]:
from astroquery.sdss import SDSS

sdss = SDSS()

#query = "select top 100 z, ra, dec, bestObjID from specObj where class = 'galaxy' and z > 0.3 and zWarning = 0"

q1 = "select top 100 z, ra, dec, bestObjID "
q2 = "from  specObj "
q3 = "where  class = 'galaxy' and z > 0.3  and zWarning = 0"

query = q1 + q2 + q3


results = sdss.query_sql(query)
results

<Table length=100>
    z         ra       dec         bestObjID
 float64   float64   float64         int64
--------- --------- --------- -------------------
0.3000001 184.86409 52.571314 1237657629529211079
0.3000009 222.98982 42.629408 1237658203986460871
0.3000009 146.39863 5.8334459 1237658423547920434
0.3000012 49.459411  0.847754 1237660241924063461
0.3000018 172.28104 10.234226 1237658493349789816
0.3000027 156.25024 7.6586271 1237658425162858683
      ...       ...       ...                 ...
0.3000467 351.30398 10.235439 1237678907315650843
 0.300047  148.5743 46.957565 1237657630055596280
 0.300047 157.03699 23.002797 1237667538547179946
 0.300048 359.29552 26.694314 1237680275796460142
0.3000484 200.24996 54.405615 1237658917996921127
0.3000487 10.377471 8.4479464 1237669768158511346
 0.300049 191.25412 51.891805 1237662301354459328

In [3]:
from astroquery.xmatch import XMatch
from astropy import units as u

xmatch = XMatch()

SDSS_WISE_match = XMatch.query(cat1=results,
                                      cat2='vizier:ii/328/allwise',
                                      max_distance=3 * u.arcsec, colRA1='ra',colDec1='dec')

In [4]:
SDSS_WISE_match

<Table length=94>
angDist      z         ra       dec    ... e_pmRA  pmDE e_pmDE   d2M
float64   float64   float64   float64  ... int64  int64 int64  float64
-------- --------- --------- --------- ... ------ ----- ------ -------
0.133183 0.3000001 184.86409 52.571314 ...    140   -13    146   0.356
0.402705 0.3000009 222.98982 42.629408 ...     93    54     98   0.465
 0.58304 0.3000009 146.39863 5.8334459 ...    165   293    177   0.833
0.066688 0.3000012 49.459411  0.847754 ...    138   153    141   0.351
0.168028 0.3000018 172.28104 10.234226 ...    216    37    236   0.164
0.284446 0.3000027 156.25024 7.6586271 ...    244   325    267   0.513
     ...       ...       ...       ... ...    ...   ...    ...     ...
0.378459 0.3000467 351.30398 10.235439 ...    260   158    272   0.687
0.134008  0.300047  148.5743 46.957565 ...    251   -75    276   0.741
0.173126  0.300047 157.03699 23.002797 ...    233   496    255   0.726
0.035938  0.300048 359.29552 26.694314 ...    244  -430    242   0.096
0.107406 0.3000484 200.24996 54.405615 ...    150   188    156   0.258
0.047976 0.3000487 10.377471 8.4479464 ...    345  -444    350   0.276
 0.23438  0.300049 191.25412 51.891805 ...    117   121    124   0.248